{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bwitter</title>
  <!-- <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}"> -->
  <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Search Icon:https://fonts.google.com/icons?icon.query=share -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="wrapper">

    <!-- sidebar starts -->
    <div class="sidebar">
      <a href="/">
        <i class="fab fa-twitter"></i>
      </a>

      <div class="sidebarOption active">
        <div class="sub_sidebarOption">
          <span class="material-icons"> home </span>
          <h2>Home</h2>
        </div>
      </div>

      <div class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> search </span>
          <h2>Explore</h2>
        </div>
      </div>

      <div class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> notifications_none </span>
          <h2>Notifications</h2>
        </div>
      </div>

      <div class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> mail_outline </span>
          <h2>Messages</h2>
        </div>
      </div>

      <div class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> bookmark_border </span>
          <h2>Bookmarks</h2>
        </div>
      </div>

      <div class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> list_alt </span>
          <h2>Lists</h2>
        </div>
      </div>
      {% csrf_token %}
      <a href="/profile/{{user_profile.user}}" class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> perm_identity </span>
          <h2>Profile</h2>
        </div>
      </a>

      <div class="sidebarOption">
        <div class="sub_sidebarOption">
          <span class="material-icons"> more_horiz </span>
          <h2>More</h2>
        </div>
      </div>
      <button class="sidebar__tweet">Tweet</button>
      <div class="sidebarOption logout_nav">
        <div class="sub_sidebarOption">
          <a href="#">
            <img src="{{user_profile.profileimg.url}}" class="header-avatar" alt="">
          </a>
          <ul class="subnav_name">
            <li>{{user_profile.user}}</li>
            <li>@{{user_profile.user}}</li>
          </ul>
          <ul class="subnav_action">
            <li><a href="/settings"> Account setting </a> </li>
            <li><a href="logout"> Log Out</a></li>
          </ul>
          <span class="material-icons"> more_vert </span>
        </div>
      </div>

    </div>
    <!-- sidebar ends -->

    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <h2>Home</h2>
      </div>

      <!-- tweetbox starts -->
      <div class="tweetBox">
        <form action="upload" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="tweetbox__input">
            <img src="{{user_profile.profileimg.url}}" alt="" />
            <textarea required name="caption" placeholder="What's happening?"
              style="border: none; outline: 0; width: 100%;"></textarea>
            <!-- <input type="text" placeholder="What's happening?" /> -->
          </div>
          <div class="tweet__footer flex">

            <div class="tweetOptions">

              <label for="id_input_upload"><span
                  class="material-symbols-outlined cursor">imagesmode</span></label><input id="id_input_upload"
                type="file" name="image_upload" style="display: none;">
              <span class="material-symbols-outlined cursor">gif_box</span>
              <span class="material-symbols-outlined cursor">ballot</span>
              <span class="material-symbols-outlined cursor">sentiment_satisfied</span>
              <span class="material-symbols-outlined cursor">pending_actions</span>
              <span class="material-symbols-outlined cursor">location_on</span>
            </div>
            <button class="tweetBox__tweetButton" type="submit">Tweet</button>
          </div>
        </form>
      </div>
      <!-- tweetbox ends -->
      <!-- post starts -->
      <div class="list__posts">
        {% for comment in comment_list reversed %}
        <div class="post">
          <div class="post__avatar" style="text-align: -webkit-center;">
            <img src="{{ comment.profile.profileimg.url }}" alt="" />
            <div style="    height: auto; min-height:45px;
            width: 0px;
            background-color: #a5a4a4;
            border: 1px solid #a5a4a4;"></div>
            <img src="{{ user_profile.profileimg.url }}" alt="" />
          </div>

          <div class="post__body">
            <div class="post__header">
              <div class="post__headerText">
                <h3>
                  <a href="/profile/{{comment.profile.user.username}}">
                    {{comment.profile.user.username}}
                    <span class="post__headerSpecial">
                      <span class="material-icons post__badge"> verified </span>
                      @{{comment.profile.user.username}}
                    </span>
                  </a>
                </h3>
              </div>
              <div class="post__headerDescription">
                <p>{{comment.post.caption}}</p>
              </div>
            </div>

            <div style="height: auto;     min-height: 45px;            "></div>

            <div class="post__header">
              <div class="post__headerText">
                <h3>
                  <a href="/profile/{{user_profile.user.username}}">
                    {{user_profile.user.username}}
                    <span class="post__headerSpecial">
                      <span class="material-icons post__badge"> verified </span>
                      @{{user_profile.user.username}}
                    </span>
                  </a>
                </h3>
              </div>
              <div class="post__headerDescription">
                <p>{{comment.caption}}</p>
              </div>
            </div>
            <div uk-lightbox class="post__img">
              {% if comment.image.url != null %}
              <a href="{{comment.image.url}}">
                <img src="{{comment.image.url}}" alt="" style="max-width: 80px;">
              </a>
              {% endif %}
            </div>
          </div>

        </div>
        {% endfor %}

        {% for post in posts reversed %}
        <div class="post">
          <div class="post__avatar">
            <img src="{{ post.profile.profileimg.url }}" alt="" />
          </div>

          <div class="post__body">
            <div class="post__header">
              <div class="post__headerText">
                <h3>
                  <a href="/profile/{{post.user}}">
                    {{post.user}}
                    <span class="post__headerSpecial">
                      <span class="material-icons post__badge"> verified </span>
                      @{{post.user}}
                    </span>
                  </a>
                </h3>
              </div>
              <div class="post__headerDescription">
                <p>{{post.caption}}</p>
              </div>
            </div>

            <div uk-lightbox class="post__img">
              {% if post.image.url != null %}
              <a href="{{post.image.url}}">
                <img src="{{post.image.url}}" alt="">
              </a>
              {% endif %}
            </div>

            <div class="post__footer">
              <div class="post__action favorite-post">
                <a href="/like-post?post_id={{post.id}}" class="flex">
                  <div class="test">
                    <!-- <p> {{post.id}} vs {{like_posts_list}}</p> -->
                    {% if post.id in like_posts_list %}
                    <svg class="flex none redHeart" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20"
                      viewBox="0 0 256 256" xml:space="preserve" style="margin-right: 4px">
                      <defs>
                      </defs>
                      <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                        transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                        <path
                          d="M 7.486 13.502 c 9.982 -9.982 26.165 -9.982 36.147 0 L 45 14.869 l 0 0 c 6.895 22.882 6.259 47.092 0 72.294 L 26.927 69.089 c 0 0 0 0 0 0 l -19.44 -19.44 C -2.495 39.667 -2.495 23.484 7.486 13.502 z"
                          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(214,73,62); fill-rule: nonzero; opacity: 1;"
                          transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path
                          d="M 82.514 13.502 c -9.982 -9.982 -26.165 -9.982 -36.147 0 L 45 14.869 l 0 0 v 72.294 l 18.073 -18.073 c 0 0 0 0 0 0 l 19.44 -19.44 C 92.495 39.667 92.495 23.484 82.514 13.502 z"
                          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(215,90,74); fill-rule: nonzero; opacity: 1;"
                          transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                      </g>
                    </svg>
                    {% else %}
                    <span class="material-symbols-outlined flex none emptyHeart"> favorite </span>
                    {% endif %}

                  </div>
                  <h3>{{post.no_of_likes}}</h3>
                </a>
              </div>
              <div class="post__action comment-post" onclick="clickComment(this)">
                <span class="material-symbols-outlined "> mode_comment </span>
                <h3><!-- numbers of comments --></h3>
              </div>
              <div class="post__action publish-post">
                <span class="material-symbols-outlined "> publish </span>
                <h3><!-- numbers of shares --></h3>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- post ends -->
    </div>
    <!-- feed ends -->

    <!-- widgets starts -->
    <div class="widgets">
      <div class="widgets__input">
        <span class="material-icons widgets__searchIcon"> search </span>
        <form action="/search" method="POST">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Search Bwitter">&nbsp; &nbsp;
          <button type="submit"></button>
        </form>


        <!-- <input type="text" placeholder="Search Bwitter" /> -->
      </div>

      <div class="widgets__widgetContainer">
        <h2>Who to follow</h2>
        <!-- start list trends-->
        <div class="list__follow">
          {% for suggestion in suggestions_username_profile_list %}
          <div class="flex follow">
            <div class="flex follow-info">
              <a href="/profile/{{suggestion.user}}">
                <img src="{{suggestion.profileimg.url}}" class="">
              </a>
              <div class="follow-name">
                <span> {{suggestion.user}} <span class="material-icons post__badge"> verified </span></span> <br>
                <span> @{{suggestion.user}} </span>
              </div>
            </div>

            <a href="/profile/{{suggestion.user}}" class="follow-view"> View </a>
          </div>
          {% endfor %}
        </div>
        <button>Show more</button>
        <!-- end list trends-->
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <!-- widgets ends -->

  <!-- Modal comment -->
  <div class="modal js-modal">
    <div class="modal-container js-modal-container">
      <form action="upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <header class="modal-header">
          <span class="modal-close js-modal-close material-symbols-outlined">close</span>
        </header>

        <div class="modal-body">
          <!-- Content replied -->
          <div class="content-replied-modal">
            <div class="post">
              <div class="post__avatar">
                <!-- load post__avatar here -->
              </div>
              <div class="post__body">
                <div class="post__header">
                  <!-- load post__header here -->
                </div>
                <div class="post__img">
                  <!-- load post__img here -->
                </div>
              </div>
            </div>
          </div>
          <!-- Notify replying -->
          <div class="content-replying-modal">
            <p>replying to <a class="tag-name-modal" href=""></a></p>
          </div>
          <!-- Content reply -->
          <div class="your-content-reply flex">
            <div class="post__avatar">
              <!-- load post__avatar here -->
              <img src="{{user_profile.profileimg.url}}" alt="" />
            </div>
            <textarea required class="comment-input" name="caption" placeholder="Tweet your reply"
              style="margin-top: 15px; border: none; outline: 0; width: 100%;"></textarea>
            <!-- <input type="text" class="comment-input" placeholder="Tweet your reply"> -->
          </div>
        </div>

        <footer class="modal-footer flex">
          <div class="tweetOptions">
            <label for="id_input_upload_comment"><span class="material-symbols-outlined cursor">imagesmode</span></label><input
              id="id_input_upload_comment" type="file" name="image_upload" style="display: none;">
            <span class="material-symbols-outlined cursor">gif_box</span>
            <span class="material-symbols-outlined cursor">ballot</span>
            <span class="material-symbols-outlined cursor">sentiment_satisfied</span>
            <span class="material-symbols-outlined cursor">pending_actions</span>
            <span class="material-symbols-outlined cursor">location_on</span>
          </div>
          <button class="tweetBox__tweetButton" type="submit">Tweet</button>
          <!-- <button class="tweetBox__tweetButton js-submit-comment-modal"onclick="clickSubmitCommentForm(this)">Tweet</button> -->
        </footer>
      </form>
    </div>
  </div>
  <!-- handle feed -->
  <script>


    // handle list trends
    $(document).ready(function () {
      maxTop = 1000
      keyTop = -1
      for (let i = 0; i < 3; i++) {
        // FETCHING DATA FROM JSON FILE
        // $.getJSON("main.json", function (data){
        //   var trends = '';
        //   var maxLike = data[0]["like"]
        //   var keymax = 0

        //   $.each(data, function (key, value) {

        //     // console.log(data[0]["like"])

        //     if(maxLike < value["like"] && value["like"] < maxTop){
        //       maxLike = value["like"]

        //       keymax = key
        //     }
        //     // console.log(value["like"])
        //     // console.log(keymax)
        //   });
        //   maxTop = maxLike
        //   keyTop = keymax
        //   trends += `
        //       <div class="subtrend">
        //         <p>Trending in ${data[keymax]["contry"]}</p>
        //         <h1>${data[keymax]["content"]}</h1>
        //       </div>
        //     `
        //   $('.handle-list-trends').append(trends);
        // });
      }
    });

    //handle emotional clicking 1
    function clickEmotion(id) {
      const emptyHeart = id.querySelector(".emptyHeart")
      emptyHeart.classList.toggle('flex')
      const redHeart = id.querySelector(".redHeart")
      redHeart.classList.toggle('flex')

      id.classList.toggle('bg-pink')
    }

    //handle emotional clicking 2
    // function clickEmotion1(id) {
    //   console.log(id)
    //   console.log(typeof(id))
    //   const emptyHeart = id
    //   emptyHeart.classList.remove('flex')
    //   const redHeart = id.parentElement.querySelector(".redHeart")
    //   redHeart.classList.add('flex')
    //   const Emotion = id.parentElement.parentElement
    //   Emotion.classList.add('bg-pink')
    // }
    // function clickEmotion2(id) {
    //   console.log(id)
    //   console.log(typeof(id))
    //   const emptyHeart = id.parentElement.querySelector(".emptyHeart")
    //   emptyHeart.classList.add('flex')
    //   const redHeart = id
    //   redHeart.classList.remove('flex')
    //   const Emotion = id.parentElement.parentElement
    //   Emotion.classList.remove('bg-pink')
    // }

    let currentComment
    // handle comment
    function clickComment(id) {
      // const buyBtns = id
      currentComment = id

      //load elements from post to modal
      document.querySelector('.content-replied-modal').querySelector('.post').querySelector('.post__avatar').innerHTML = id.parentElement.parentElement.parentElement.querySelector('.post__avatar').innerHTML
      document.querySelector('.content-replied-modal').querySelector('.post').querySelector('.post__body').querySelector('.post__header').innerHTML = id.parentElement.parentElement.parentElement.querySelector('.post__body').querySelector('.post__header').innerHTML
      document.querySelector('.content-replied-modal').querySelector('.post').querySelector('.post__body').querySelector('.post__img').innerHTML = id.parentElement.parentElement.parentElement.querySelector('.post__body').querySelector('.post__img').innerHTML
      document.querySelector('.content-replying-modal').querySelector('.tag-name-modal').innerHTML = id.parentElement.parentElement.parentElement.querySelector('.post__body').querySelector('.post__headerSpecial').innerText.slice(9)
      //fix css
      document.querySelector('.content-replied-modal').querySelector('.post').classList.add('modal-css')

      const modal = document.querySelector('.js-modal')
      const modalContainer = document.querySelector('.js-modal-container')
      const modalClose = document.querySelector('.js-modal-close')

      // Open modal comment 
      modal.classList.add('open')

      //Hàm hiển thị form modal comment (thêm class 'open' của modal)
      function showModalComment() {
        modal.classList.add('open')
      }
      //Hàm ẩn form modal comment (bỏ class 'open' khỏi modal)
      function hideModalComment() {
        modal.classList.remove('open')
      }

      // Nghe event nhấn vào comment
      // buyBtns.addEventListener('click', showModalComment)

      //Nghe hành vi click vào nút close của modal comment
      modalClose.addEventListener('click', hideModalComment)
      //Nghe hành vi click vào nền của web
      modal.addEventListener('click', hideModalComment)
      //Nhấp vào khung modal comment thì sẽ không bị thoát ra
      modalContainer.addEventListener('click', function (event) {
        event.stopPropagation()
      })
    }

    function clickSubmitCommentForm(id) {

      document.querySelector('.js-modal').classList.remove('open')

      document.querySelector(".list__posts").innerHTML = `
                  <div class="post">
                    <div class="post__avatar">
                      <img
                        src="https://techkalzen.com/wp-content/uploads/2019/12/Zenitsu-Agatsuma-Kimetsu-no-Yaiba.jpg"
                        alt=""
                      />
                    </div>
                    
                    <div class="post__body">
                      <div class="post__header">
                        <div class="post__headerText">
                          <h3>
                            ptphat
                            <span class="post__headerSpecial">
                              <span class="material-icons post__badge"> verified </span>
                              @ptphat
                            </span>
                          </h3>
                        </div>
                        <div class="post__headerDescription">
                          <p>replying to <a class="tag-name-modal" href="">${id.parentElement.parentElement.parentElement.querySelector('.tag-name-modal').innerHTML}</a></p> 
                          <p>${id.parentElement.parentElement.querySelector("input").value}</p>
                        </div>
                      </div>
                      <div class="post__img">
                        <img
                          src=""
                          alt=""
                        />
                      </div>

                      <div class="post__footer">
                        <div class="post__action favorite-post" onclick="clickEmotion(this)">
                          <div class="test" >
                            <span class="material-symbols-outlined flex none emptyHeart"> favorite </span>
                            <svg class="none redHeart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve" style="margin-right: 4px">
                              <defs>
                              </defs>
                              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                <path d="M 7.486 13.502 c 9.982 -9.982 26.165 -9.982 36.147 0 L 45 14.869 l 0 0 c 6.895 22.882 6.259 47.092 0 72.294 L 26.927 69.089 c 0 0 0 0 0 0 l -19.44 -19.44 C -2.495 39.667 -2.495 23.484 7.486 13.502 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(214,73,62); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path d="M 82.514 13.502 c -9.982 -9.982 -26.165 -9.982 -36.147 0 L 45 14.869 l 0 0 v 72.294 l 18.073 -18.073 c 0 0 0 0 0 0 l 19.44 -19.44 C 92.495 39.667 92.495 23.484 82.514 13.502 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(215,90,74); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              </g>
                            </svg>
                          </div>
                          <h3>${""}</h3>
                        </div>
                        <div class="post__action comment-post" onclick="clickComment(this)">
                          <span class="material-symbols-outlined "> mode_comment </span>
                          <h3>${""}</h3>
                        </div>
                        <div class="post__action publish-post">
                          <span class="material-symbols-outlined "> publish </span>
                          <h3>${""}</h3>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                  ` + document.querySelector(".list__posts").innerHTML
      id.parentElement.parentElement.parentElement.querySelector("input").value = null
    }
    //handle post 
    function clickPost(id) {

      document.querySelector(".list__posts").innerHTML = `
                  <div class="post">
                    <div class="post__avatar">
                      <img
                        src="https://techkalzen.com/wp-content/uploads/2019/12/Zenitsu-Agatsuma-Kimetsu-no-Yaiba.jpg"
                        alt=""
                      />
                    </div>
                    
                    <div class="post__body">
                      <div class="post__header">
                        <div class="post__headerText">
                          <h3>
                            ptphat
                            <span class="post__headerSpecial">
                              <span class="material-icons post__badge"> verified </span>
                              @ptphat
                            </span>
                          </h3>
                        </div>
                        <div class="post__headerDescription">
                          <p>${id.parentElement.parentElement.querySelector("input").value}</p>
                        </div>
                      </div>
                      <div class="post__img">
                        <img
                          src=""
                          alt=""
                        />
                      </div>

                      <div class="post__footer">
                        <div class="post__action favorite-post" onclick="clickEmotion(this)">
                          <div class="test" >
                            <span class="material-symbols-outlined flex none emptyHeart"> favorite </span>
                            <svg class="none redHeart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve" style="margin-right: 4px">
                              <defs>
                              </defs>
                              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                <path d="M 7.486 13.502 c 9.982 -9.982 26.165 -9.982 36.147 0 L 45 14.869 l 0 0 c 6.895 22.882 6.259 47.092 0 72.294 L 26.927 69.089 c 0 0 0 0 0 0 l -19.44 -19.44 C -2.495 39.667 -2.495 23.484 7.486 13.502 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(214,73,62); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path d="M 82.514 13.502 c -9.982 -9.982 -26.165 -9.982 -36.147 0 L 45 14.869 l 0 0 v 72.294 l 18.073 -18.073 c 0 0 0 0 0 0 l 19.44 -19.44 C 92.495 39.667 92.495 23.484 82.514 13.502 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(215,90,74); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              </g>
                            </svg>
                          </div>
                          <h3>${""}</h3>
                        </div>
                        <div class="post__action comment-post" onclick="clickComment(this)">
                          <span class="material-symbols-outlined "> mode_comment </span>
                          <h3>${""}</h3>
                        </div>
                        <div class="post__action publish-post">
                          <span class="material-symbols-outlined "> publish </span>
                          <h3>${""}</h3>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                  ` + document.querySelector(".list__posts").innerHTML
      id.parentElement.parentElement.querySelector("input").value = null
    }
  </script>

</body>

</html>